@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.CadastrarObjetivosFilho{
    border-radius: 6px;
    background-color: #fff;
    width: 60vw;
    height: 10vw;
    cursor: pointer;
    margin: 0 auto;    
   

}
.CadastrarObjetivosFilho p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    color: black;
    font-size: 15pt;
    font-family: 'PT Sans', sans-serif;
    

   
}