@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans');

.sectionSobre{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.paragrafoSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7b1fa2;
    font-size: 15pt;
    font-weight: bold;
    align-items: center;
}

.vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    color: #7b1fa2;
    
}

.subtituloVantagens{
    font-size: 15pt;
    color: #7b1fa2;
    font-weight: bold;
}

.vantagensReunidas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgSobre{
    width: 150px;
    height: 250px;
}

.paragrafoVantagens{
    margin-left: 10vw;
}