.footer-telas img{
    width: 180px;
    height: 180px;
    align-items: flex-end;
    display: flex;
    margin-left: 60px;
    position: fixed;
    bottom: 0;

}
.footer-telas{
    max-width: 920px;
    
}
.footerTamanhos{
    width: 100%;
}
