.BotaoOb {
    font-size: 20px;
    color: #7b1fa2;
    border: 1px dotted grey;
    background-color: transparent;
    border-radius: 4px;
    width: 36vw;
    height: 4vw;
    cursor: pointer;
    border-color: #7b1fa2;
}
