.ObjetivosaRealizar{
    font-size: 20px;
    color: white;
    background-color: #7b1fa2;
    border-radius: 4px;
    width: 36vw;
    height: 4vw;
    cursor: pointer;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.lista{
    padding-left: 18px;
    font-size: 25px;
}
.ObjetivosaRealizar img{
    padding-left: 18px;
    width: 40px;
    height: 40px;
}