@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.sectionQuemSomos{
    /* background-color: #7b1fa2; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
    
}

.tituloQuemSomos{
    display: block;
    text-align: center;
    align-items: center;
    font-family: Open Sans;
    color: #7A9B15; 
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
}
.paragrafoQuemSomos{
    color: #7A9B15;
    font-family: Open Sans;
    font-size: 13pt;
    display: block;
    flex-direction: column;
    text-align: justify;
    margin: 0 auto;
    padding: 15px;
    margin: 5px auto;
    width: 960px
   
}
.porquinho{
    width: 150px;
    right: 150;
    display: flex;
    justify-content: center;
}