@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.criarTarefa { 
    font-size: 15pt;
    border-radius: 5px;
    border: transparent;
    margin: 0px auto;
    padding: 10px ;
    font-family: 'PT Sans', sans-serif;
    

} 
 .criarTarefaFrase {
    font-size: 10pt;
    color: black;
    background-color: rgb(185, 179, 179);
    border: transparent;
    border-radius: 15px;
    width: 500px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    font-family: 'PT Sans', sans-serif;
  
}

.botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}