.estiloBotaoBranco{
    font-size: 10pt;
    border-radius: 23px;
    background-color: transparent;
    color: #7c1fa3;
    border: 1px solid #7c1fa3;
    width: 120px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    

    


}
.botaoBranco{
    cursor: pointer;


}
.estiloBotaoBranco:hover{
    background-color: #C84B56;
    color:white;
    border: 1px solid white;
}
